*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 50px;
    background-color: azure;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 300px;
    padding: 30px;
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: rgb(33, 4, 90);
}
body{
    background-image: url("/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg");
    background-size: 1000px;
    background-position: top;
    background-repeat: no-repeat;
}